{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Make an appointment</title>

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    {% if form %}
    {{ form.media }}
    {% endif %}
</head>
<body>
    {% block appointment_form %}
    {% endblock %}
</body>
</html>